In [1]:
import pandas as pd
df = pd.DataFrame({"hour":[1,2,2,3,3,6,6,6], "location":["a","a", "b","b","c","c","c","c"]})
df

   hour location
0     1        a
1     2        a
2     2        b
3     3        b
4     3        c
5     6        c
6     6        c
7     6        c

In [3]:
df1 = df.groupby(["hour"]).count()
df1

      location
hour
1            1
2            2
3            2
6            3

In [4]:
df2 = df.groupby(["hour", "location"]).size().unstack(fill_value=0).stack()
df2

hour  location
1     a           1
      b           0
      c           0
2     a           1
      b           1
      c           0
3     a           0
      b           1
      c           1
6     a           0
      b           0
      c           3
dtype: int64